
nav a {display: inline-block}
nav a {border: 2px solid saddlebrown}



p{
    text-align: center;}
                         p{
                             text-align: center;}

                                body {color: saddlebrown;
                                    font-family: "American Typewriter";
Font-size: 150%;
    background: lightyellow;
}
